@model MRDN68_SOF_2022231.Models.Workplace

@{
    ViewData["Title"] = "Create";
}

<h1>Add new Workplace</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWorkplace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="Id" class="form-control" value="@Model.Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="OwnerId" class="form-control" value="@Model.OwnerId" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" value="@Model.CompanyName" required />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" value="@Model.City" required />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkedYears" class="control-label"></label>
                <input asp-for="WorkedYears" class="form-control" value="@Model.OwnerId" required />
                <span asp-validation-for="WorkedYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" value="@Model.Role" required />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
